body{
    padding: 0;
}
.header
{
    background-image: url("../images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
    height: 500px;
    width:auto;
}


.header-about
{
    background-image: url("../images/about-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    width:auto;
}


.header-join
{
    background-image: url("../images/join-us.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    width:auto;
}

.header-contact
{
    background-image: url("../images/contact-us-banner.jpeg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    width:auto;
}

.header-download
{
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 680px;
    width:auto;
}

.page-head{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 680px;
    width:auto;
}


.heading-main
{
    float: center;
    margin-top:100px;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
}


.heading-main-sec
{
    float: center;
    margin-top:100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
}

.heading-sub
{
    float: center;
    margin-top:100px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: monospace;
}

.letstalk-btn
{
    
    margin-top:100px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    border: solid;
    border-color: #0000005e;
    border-width: 5px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-family: sans-serif;
}

.letstalk-btn:hover
{
    background-color: #0000005e;
}

.active
{
    color: rgb(0, 106, 206) !important;
    border-bottom: solid;
    border-color: rgb(0, 106, 206) !important;
    border-width: 5px;
}

.header-name{
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-weight: bolder;
}

.header-name-color{
    color: #2979ff;
}

nav {
    
    transition: all 0.8s ease 0s;
    background: #9cccff;
    padding: 25px 15px;
}

.nav-fixed {
    padding: 10px 0px;
    background-color: #66a6ff;
    border-bottom: 1px;
    box-shadow: 0px 2px 5px rgba(100, 100, 100, 0.3);
}

.nav-padding {
    padding: 25px 15px;
}


.content-home
{
   padding-top: 20px;
   
}

.heading-sec
{
    padding-top: 20px;
    color: rgb(0, 89, 255);
    text-align:center ;
    font-family: sans-serif;
    font-size: 42px;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}

.img-sec
{
    margin:50px 200px 50px 200px;
    border: solid;
    
}

.about-img
{
    width: 400px;
    height: 200px;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
}

.tagline
{
    margin-top: 50px;
    color:  rgb(0, 89, 255);
    font-size: 30px;
}

.sec-btn
{
    
    text-align: center;
    color: black;
    font-size: 14px;
    border: solid;
    border-color:lightskyblue;
    border-width: 2px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    width: 120px;
}

.sec-btn:hover
{
    background-color:rgba(135, 206, 250, 0.788);
    color:white;
    font-weight: bold;
}

#section
{
    margin-bottom: 20px;
}



.volunteer-img
{
    width: 300px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
}

.contact-img
{
    width: 400px;
    height: 200px;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
}

.footer
{
    background-color: #2D7584;
    color:white;
    bottom: 0;
    position: relative;
}

.social
{
    position: relative;
}

.social_icons
{
    position: absolute;
    right:0;

}



#poster
{
    margin-top: 20px;
    margin-bottom: 20px;
}


.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo-img
{
    height:55px;
}

.navbar-toggler-icon
{
    color:white;
}

.navbar navbar-expand-lg fixed-top
{
    position: absolute;
    color: white;
}


.nav-link 
{
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #181414f3 !important;
    padding: 10px 0; 
}

.navbar-brand
{
    color: white!important;
}

.nav-link-transform{
    color: white !important;
}


#nav-item:hover
{
    transition: all 0.5s ease;
    border-bottom: solid;
    border-color: rgb(0, 106, 206) !important;
    border-width: 5px;
    color: rgb(0, 106, 206) !important;
}

#nav-link:hover{
    color: rgb(0, 106, 206) !important;
}


#nav-link-transform:hover{
    color: black !important;
}

#nav-item
{
    margin-left: 5px;
}

.background-nav
{   
    background: #66a6ff;

}

#mobile_only
{
    display:none;
}

.container
{
    position: relative;
}

.home_screen
{
    position: absolute;
    height: 500px;
    left: 20%;
    top: 15%;
}

#img-section
{
    position: relative;
}

.download_txt
{ 
    position: absolute;
    left: 50%;
    top: 30%;
    font-family: sans-serif;
    color: white;
}

.download_txt_sub
{ 
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

.playstore_btn
{ 
    position: absolute;
    top: 50%;
    left: 50%;
}

.feature_txt
{
    position: absolute;
    margin-top: 50px;
    color:  rgb(0, 89, 255);
    font-size: 28px;
    top: 30%;
    left: 20%;
}


.feature-des
{
    position: absolute;
    left: 20%;
    top: 50%;

}

div#logo-row {
    position: relative;
    height: 200px;
}

.logo-app {
    position: absolute;
    left: 47%;
    height: 100px;
    top: 36%;
}

div#content-row {
    position: relative;
}

i.fas.fa-check-circle {
    /* width: 217px; */
    position: relative;
    left: 48%;
    height: 150px;
    font-size: 72px;
    color: #007bff;
}

p.ty-text {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #00d0ff;
}
.fa-frown{
    /* width: 217px; */
    position: relative;
    left: 48%;
    height: 150px;
    font-size: 72px;
    color: #007bff;
}


p.more-ty {
    text-align: center;
    font-size: 18px;
}

p.footer-icons {
    font-size: 22px;
    position: relative;
    height: 50px;
}
#icon-fb {
    position: absolute;
    left: 43%!important;
    top: 2%!important;
    cursor: pointer;
}


#icon-insta
{
    position: absolute;
    left: 50%!important;
    top: 2%!important;
    cursor: pointer;
}

hr.footer-line 
{
    border: 1px solid black;
    width: 68%;
}

#myModal
{
    -webkit-box-shadow: -2px 16px 24px 0px rgba(45,117,132,1);
    -moz-box-shadow: -2px 16px 24px 0px rgba(45,117,132,1);
    box-shadow: -2px 16px 24px 0px rgba(45,117,132,1);
    padding-bottom: 200px;
}


.modal-title
{
    color:#428bca;
    font-weight: bold;
}

label
{
    color:#5bc0de;
}

.btn-info
{
    background-color: #66a6ff!important;
    border-color:#66a6ff!important;
    border-radius: 60px!important;
    /* height: 54px; */
    font-size: 17px!important;
    padding: 12px!important;
    width: 136px!important;
    
}
.btn-info:hover
{
    background-color: white!important;
    color: #66a6ff!important;
    border-color:#66a6ff;
}
#contact-content
{
    margin-top: 20px;

}

#contact-right
{
    margin-bottom: 30px;
    border-left: 3px solid gainsboro;
}


#call-us-row
{
    position: relative;
}

#call-us-right
{
    
    left: 29%;
}

#call-us-left
{
    color: #80808096;
    position: absolute;
    top: 35%;
    font-size: 35px;
    left: 18%;
}


#email-us-row
{
    position: relative;
    top: 30%;
}

#email-us-right
{
    position: absolute;
    left: 29%;
}

#email-us-left
{
    color: #80808096;
    position: absolute;
    font-size: 35px;
    left: 18%;
    top: 52px;
}

#socials-row
{
    text-align: center;
    position: relative;
    top: 25%;
    left: 10%;
}
.fab.fa-instagram-square
{
    font-size: 27px;
}



#about-us
{
    padding-top:100px;
}

#about-us::before 
{ 
    display: block; 
    content: " "; 
    margin-top: -285px; 
    height: 285px; 
    visibility: hidden; 
    pointer-events: none;
}
  
#contact-us
{
    padding-top:100px;
}

#contact-us::before 
{ 
    display: block; 
    content: " "; 
    margin-top: -285px; 
    height: 285px; 
    visibility: hidden; 
    pointer-events: none;
}

#join-us
{
    padding-top:100px;
}

#join-us::before 
{ 
    display: block; 
    content: " "; 
    margin-top: -285px; 
    height: 285px; 
    visibility: hidden; 
    pointer-events: none;
}

#features-imgs
{
    position: relative;
    height: 500px;
}

.emergency-screen-img
{
    position: absolute;
    height: 400px;
    left: 26%;

}

.chatscreen-img
{
    position: absolute;
    height: 500px;
    left: 40%;
    top:-8%;

}

.institutes-screen-img
{
    position: absolute;
    height: 400px;
    left: 59%;
}

.feature-icons
{
    height: 60px;
    padding-bottom: 10px;
    position: absolute;
    left: 35%;
    top: 35%;
}

.feature-icons-wrap
{
    position: relative;
    height: 70px;
   
}

div#form-card
{
    margin: 30px;
    padding: 50px;
    background-color: #8080800d;
    border-radius: 28px;
}

#form-btn
{
    text-align: center;
}

div#form-card-contact
{
    padding: 50px;
    background-color: #8080800d;
    border-radius: 28px;
}

.contact-txt-heading
{
    color:rgba(0, 89, 255, 0.58);
    display:inline-block;
    padding-top: 40px;
}

.fab 
{
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 112px;
}

.fab:hover 
{
    opacity: 0.7;
}


.fa-facebook 
{
    background: #3B5998;
    color: white;
}

.fa-instagram 
{
    background: #125688;
    color: white;
}

p.contact-para 
{
    display: inline-block;
}

p#contact-email 
{
    /* margin: -40px; */
    margin-top: -26px;
}

.contact-info
{
    display: inline-block;
}

#nic-error
{
    display: none;
}

.footer-mb
{
    display:none;
}

#contact-footer
{
    display:none;
}

#mobile-only
{
    display:none;
}

.or
{
    margin-left: 13%;
}

.form-header 
{
    padding-bottom: 5%;
    text-align: center;
    color: rgb(0 89 255 / 64%);
    font-size: 22px;
    font-weight: bold;
}

h6 {
    color: #007bff;
    font-size: 18px;
}